/*body*/
body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

/*links*/
a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

}

/*top navigation*/
.top {
    text-align: center;
    
}
.top a {
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: olive;
    font-size: 20px;
}

.top ul li {
    display: inline;
    margin: 0;
    padding: 20px;
}
/*welcome banner*/
.welcome {
    display: flex;
    background-image: url(Images/Wisteria-Jumbotron.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 100%;
    margin-top: 0px;
    border-top: rgb(8, 135, 38) solid;
    border-bottom: rgb(8, 135, 38) solid;
}

.welcome .container {
    background-color: rgba(173, 173, 173, 0.5);
    height: 300px;
    width: 400px;
    
}

.welcome .border {
    border-bottom: white solid thin;
}
.welcome h1
{
    font-size: 50px;
    font-weight: 600px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    
}

.welcome h2
{
    font-size: 30px;
    font-weight:400;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    color: white;
}

/*family section*/
.family {
  display: flex;
  align-items: center;
}

.family img
{
    float: left;
    height: 550px;
    width: 400px;
    margin: 100px 100px 60px 200px;
    vertical-align: middle;
    border: rgb(245, 225, 245) solid;
    border-radius: 8px;
    

}

.family p
{
    height: 300px; 
    width: 500px;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgb(245, 225, 245);
    border-radius: 8px;    
}

/*why garden? section*/
.Why {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Why img {
    float: right;
    height: 400px;
    width: 570px;
    margin: 100px 200px 60px 100px;
    border: rgb(255, 225, 176) solid;
    border-radius: 8px;
}

.Why p {
    height: 450px; 
    width: 500px;
    background-color: rgb(255, 225, 176);
    border-radius: 8px;
    margin-left: 60px;

}

/* St. Louis section*/
.Stl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Stl img {
    float: left;
    height: 500px;
    width: 450px;
    margin: 100px 100px 60px 100px;
    border: rgb(197, 209, 190) solid;
    border-radius: 8px;

}

.Stl p {
    height: 400px; 
    width: 500px;
    background-color: rgb(197, 209, 190);
    border-radius: 8px;   
}

/*entire footer*/
footer {
    background-color: rgb(8, 135, 38);
    color: white;
    font-family: 'Cormorant Garamond', serif;
}
/*thank's for visiting banner */
.thanks {
    height: 200px;
    width: 100%;
    text-align: center;
}

.thanks .message {
    padding-top: 30px;
}
/*bottom navigation*/
.bottom {
    text-align: center;
}
.bottom a {
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.bottom ul li {
    display: inline;
    margin: 0;
    padding: 20px;
}